<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8Cyw3-0QbJL898OomEaIHI2U4AE7iLKw</string>
	<key>GCM_SENDER_ID</key>
	<string>1049305361632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cybergeiger.toolbox.stg</string>
	<key>PROJECT_ID</key>
	<string>geiger-toolbox-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>geiger-toolbox-stg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049305361632:ios:2de5ec1a1dfb8d20313485</string>
</dict>
</plist>